<nav class="navbar navbar-default">
  <div class="container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        <img class="navbar-brand" src="https://res.cloudinary.com/coder-academy/image/upload/c_scale,h_50,q_auto:eco/v1496817814/Coder_Academy_iteration_23-12.png"></img>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"> <!-- /.Start of Search -->
        <form class="navbar-form navbar-left">

          <div class="form-group">
          <%= form_tag(challenges_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for Challenges" %>
          </div>

          <%= submit_tag "Submit", class: "btn btn-default btn-invert" %>
          <% end %>
        </form>
      </ul><!-- /.End of Left side of Navbar and Search -->

      

      <ul class="nav navbar-nav navbar-right"><!-- /. Start of Right side nav -->
      <li>
        <%= link_to 'Class Challenges', challenges_path, class: "hidden-xs" %>
      </li>

        <li class="dropdown">
            <li class="hidden-sm hidden-md hidden-lg"><%= link_to 'Class Challenges', challenges_path %></li>
        </li>
      
        <div class="nav navbar-nav">
          <% if teacher_signed_in? %>
            <li>
              <%= link_to('Logout', destroy_teacher_session_path, method: :delete) %>        
            </li>
          <% else %>
            <li>
              <%= link_to('Login', new_teacher_session_path) %>  
            </li>
          <% end %>
        </div><!-- /.login -->
      </ul><!-- /. End right side of navbar -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
