<%= form_for(challenge) do |f| %>
  <% if challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field center-block">
    <!-- <p class="edit-title"><%= f.label :title %></p> -->
    <div class="input-group text-field">
      <span class="input-group-addon" id="sizing-addon2">Challenge Title:</span>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="field center-block">
    <!-- <p class="edit-title"><%= f.label :text %></p> -->
    <div class="input-group text-field">
      <span class="input-group-addon" id="sizing-addon2">Challenge:</span>
      <%= f.text_field :text, class: "form-control" %>
    </div>
  </div>

<!-- Creates tags for challenge search -->
  <div class="row text-center field center-block">
    <%= form_for :challenges do |f| %>
      <div class="large-10 large-centered columns">
        <%= f.fields_for :tags do |tags_form| %>
          <%#= tags_form.text_field :name, placeholder: "Challenge tags", class: "form-control" %>

          <%#= f.text_field :tags, placeholder: "Challenge tags", class: "form-control", "data-role" => "tagsinput" %>

            <!-- <input multiple="" placeholder="Enter tags" value="" data-role="tagsinput"  class="form-control"> -->

            <%= f.text_field :tag_list %>
        <% end %>
      </div>
  </div>

    <% if teacher_signed_in? %>
      <div class="actions">
        <%= f.submit class: "btn btn-default" %>
      </div>
    <% end %>
  <% end %>
<% end %>
