<h1>Challenges</h1>

<% if teacher_signed_in? %>
  <div class="row challenge-cards cards">
    <% @challenges.each do |challenge| %>
    <div class="col-xs-12 col-sm-6 col-md-4 flex-item">
      <div class="panel panel-default">
        <h2><%= challenge.title %></h2>
        <p><%= challenge.text %></p>

        <% challenge.tag_list.each do |tag| %>
          <span class="label label-primary label-tags"><%= tag %></span>
        <% end %>

        <br>

        <!-- Begin Time Stamp -->
        <p class="timestamp">
          <% if challenge.created_at > Time.now.beginning_of_day %>
            <%="#{time_ago_in_words(challenge.created_at)} ago"%> <!-- 3 minutes ago, less than a minute ago  -->
          <% else %>
            <%= challenge.created_at.strftime("%b %d, %Y") %> <!-- Month Date, Year -->
          <% end %>
        </p>
        <!-- End Time Stamp -->

        <br>

        <%= link_to 'View', challenge, class: "btn btn-default" %>
        <%= link_to 'Edit', edit_challenge_path(challenge), class: "btn btn-default"%>
        <%= link_to 'Delete', challenge, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"%>
      </div>

    </div>
  <% end %>

  </div>

  <%= link_to 'New Challenge', new_challenge_path, class: "btn btn-default new-ch-btn btn-invert" %> 
        
  <% else %>

    <div class="row challenge-cards cards">
    <% @challenges.each do |challenge| %>
    <div class="col-md-4 col-sm-12 flex-item">
      <div class="panel panel-default">
        <h2><%= challenge.title %></h2>
        <p><%= challenge.text %></p>
        <%= link_to 'View Challenge', challenge, class: "btn btn-default" %>
      </div>
    </div>
    <% end %>
  </div>

<% end %>