<h1>Challenges</h1>

<% if teacher_signed_in? %>
  <div class="row challenge-cards cards">
    <% @challenges.each do |challenge| %>
    <div class="col-md-4 col-xs-12">
      <div class=" panel panel-default">
        <h2><%= challenge.title %></h2>
        <p><%= challenge.text %></p>

        <% challenge.tag_list.each do |tag| %>
          <span class="label label-primary label-tags"><%= tag %></span>
        <% end %>

        <br>

        <!-- Begin Time Stamp -->
        <% if challenge.created_at > Time.now.beginning_of_day %>
          <%="#{time_ago_in_words(challenge.created_at)} ago"%> <!-- 3 minutes ago, less than a minute ago  -->
        <% else %>
          <p class="timestamp"><%= challenge.created_at.strftime("%b %d, %Y") %></p> <!-- Month Date, Year -->
        <% end %>
        <!-- End Time Stamp -->

        <br>

        <%= link_to 'View', challenge, class: "btn btn-default" %>
        <%= link_to 'Edit', edit_challenge_path(challenge), class: "btn btn-default"%>
        <%= link_to 'Delete', challenge, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"%>
      </div>

    </div>
    <% end %>
  </div>
  
    <%= link_to 'New Challenge', new_challenge_path, class: "btn btn-default new-ch-btn btn-invert" %>     
  <% else %>

    <div class="row challenge-cards cards">
    <% @challenges.each do |challenge| %>
    <div class="col-md-4">
      <div class="col-sm-12 panel panel-default">
        <h2><%= challenge.title %></h2>
        <p><%= challenge.text %></p>
        <%= link_to 'View Challenge', challenge, class: "btn btn-default" %>
      </div>
    </div>
    <% end %>
  </div>

  <% end %>