<h1>
  <%= @challenge.title %>
</h1>

<div class="row challenge-cards cards">
	<div class="container-fluid">
	  <h2>Challenge:</h2> <br>
	  <div class="col-md-12">
	    <div class="col-sm-12 panel panel-default">
	  		<p><%= @challenge.text %></p>
	  	</div>
	  </div>
	</div>
</div>

<% if teacher_signed_in? %>
	<%= link_to 'Edit', edit_challenge_path(@challenge), class: "btn btn-default" %>
	<%= link_to 'Back', challenges_path, class: "btn btn-default" %>
	<%= link_to 'Delete', @challenge, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"%>
<% else %>
	<%= link_to 'Back', challenges_path, class: "btn btn-default" %>
<% end %>