<h1>
  <%= @challenge.title %>
</h1>

<p>
  <h2>Challenge:</h2> <br>
  <p><%= @challenge.text %></p>
</p>

<% if teacher_signed_in? %>
	<%= link_to 'Edit', edit_challenge_path(@challenge), class: "btn btn-default" %>
	<%= link_to 'Back', challenges_path, class: "btn btn-default" %>
	<%= link_to 'Delete', @challenge, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"%>
<% else %>
	<%= link_to 'Back', challenges_path, class: "btn btn-default" %>
<% end %>